body.green {
    background-color: #89d8a8;
  }

  body.yellow {
      background-color: #f8d300;
  }

  nav {
    background-color: #372919;
  }

  a.nav-link, a.navbar-brand {
      color: white;
  }

  div.card {
      margin: 16px;
  }

  