  /* ____________ Body Styles ____________ */
body.green {
    background-color: #89d8a8;
  }

  body.yellow {
      background-color: #f8d300;
  }

  p {
    text-align: center;
  }

  /* ____________ Header/Heading Styles ____________ */
  h1 {
    padding-left: 16px;
  }

  /* ____________ Navigation Styles ____________ */

  nav {
    background-color: #372919;
  }

  a.nav-link, a.navbar-brand {
      color: white;
  }

    /* ____________ Card Styles ____________ */

  div.card {
      margin: 16px;
  }

  div.row {
    padding: 16px;
  }

  div.card.col {
    padding-top: 8px;
  }

  /* ____________ Footer Styles ____________ */
  /*Footer Styles*/
footer {
    padding-right: 3em;
    padding-left: 3em;
    padding-bottom: 3em;
    background-color: #2E1B11;
    color: #e60073;
    border-top: 4px solid #9e2e4a;
  }
  
  footer address {
    text-align: right;
  }
  
  /*Hours Styles*/
  address > a {
    background-color: #FFF;
    padding: .9em;
    border: 4px solid #9e2e4a;
    border-radius: 30px;
  }

  /* ____________ Sprite Styles ____________ */
    .social-media-iconsfacebook, .social-media-iconsinstagram, .social-media-iconssnapchat, .social-media-iconstwitter, .social-media-iconsyoutube {
        display: inline-block; background: url(img/social-sprite.png) no-repeat; overflow: hidden; text-indent: -9999px; text-align: left;
    }

    .social-media-iconsfacebook {
        background-position: -5px -0px; width: 32px; height: 32px;
    }

    .social-media-iconsinstagram {
        background-position: -42px -0px; width: 32px; height: 32px;
    }

    .social-media-iconssnapchat {
        background-position: -5px -37px; width: 32px; height: 32px;
    }

    .social-media-iconstwitter {
        background-position: -42px -37px; width: 32px; height: 32px;
    }

    .social-media-iconsyoutube {
        background-position: -5px -74px; width: 32px; height: 32px;
    }

    div.about {
        margin: 25px;
    }

  